* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v19_30 {
  width: 430px;
  height: 932px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_31 {
  width: 430px;
  height: 932px;
  background: rgba(97,133,129,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_32 {
  width: 210px;
  height: 180px;
  background: url("../images/v19_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 105px;
  left: 102px;
  overflow: hidden;
}
.v19_33 {
  width: 210px;
  color: rgba(7,0,0,1);
  position: absolute;
  top: 266px;
  left: 82px;
  font-family: Inter;
  font-weight: Black;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v19_34 {
  width: 319px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 331px;
  left: 37px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v19_38 {
  width: 51px;
  height: 34px;
  background: url("../images/v19_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 466px;
  left: 12px;
  overflow: hidden;
}
.v19_39 {
  width: 151px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 548px;
  left: 113px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v19_40 {
  width: 300px;
  height: 52px;
  background: rgba(9,0,3,1);
  opacity: 1;
  position: absolute;
  top: 653px;
  left: 51px;
}
.v19_41 {
  width: 214px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 659px;
  left: 102px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v19_42 {
  width: 73px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 463px;
  left: 102px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v19_43 {
  width: 42px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 548px;
  left: 17px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v19_46 {
  width: 45px;
  height: 45px;
  background: url("../images/v19_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 12px;
  overflow: hidden;
}
.v19_47 {
  width: 45px;
  height: 45px;
  background: url("../images/v19_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 12px;
  overflow: hidden;
}
.v19_48 {
  width: 153px;
  height: 5px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 915px;
  left: 146px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v19_49 {
  width: 59px;
  height: 22px;
  background: rgba(249,12,12,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 41px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v19_50 {
  width: 33px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 22px;
  left: 54px;
  font-family: Inter;
  font-weight: Black;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v19_51 {
  width: 8px;
  height: 8px;
  background: rgba(234,186,13,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 283px;
  border-radius: 50%;
}
.v19_52 {
  width: 75px;
  height: 14px;
  background: url("../images/v19_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 314px;
  overflow: hidden;
}
.v19_53 {
  width: 24px;
  height: 13px;
  background: url("../images/v19_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 52px;
  overflow: hidden;
}
.v19_54 {
  width: 22px;
  height: 13px;
  background: url("../images/v19_54.png");
  opacity: 0.3499999940395355;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
}
.v19_55 {
  width: 1px;
  height: 4px;
  background: rgba(0,0,0,1);
  opacity: 0.4000000059604645;
  position: absolute;
  top: 4px;
  left: 23px;
}
.v19_56 {
  width: 18px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v19_66 {
  width: 6px;
  height: 7px;
  background: url("../images/v19_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 5px;
  overflow: hidden;
}
.v19_67 {
  width: 6px;
  height: 7px;
  background: rgba(255,149,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
